.hero.home-banner
  .row
    .large-12.columns.intro-text
      %p
        Happy birthday, love!
.row.about
  .medium-6.large-8.columns
    %h4 About
    %p
      Audrey Dilling is a reporter and producer with 
      %a{:href => "http://www.kalw.org"}KALW 
      San Francisco. She is also super fucking cool and funny and pretty and professional and is basically the best. If you don't know her, I really hope you get the chance, buddy! And hey, even if you can't, you should DEFINITELY check out her
      %a{:href => "http://kalw.org/people/audrey-dilling"} work
      = "."
  .medium-6.large-4.columns
    .round-image-container
      %img{:src => "images/audrey_about.jpg"}
.row.work
  %hr
    .large-12.columns
      %h4 Latest Stories
      %p Click! Listen! Or read, but really, listen.
      %ul{:class => "clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-#{stories_with_image.length}", "data-clearing" => ""}
        - stories_with_image.each do |s|
          %li
            %a{:href => stories_with_image[0].url}
              %img{"data-caption" => s.title, :src => s.image}/

%script
  $(document).ready(function(){$('.home-button').addClass("disabled secondary");});
