.hero.sounds-banner

.row
  .small-4.small-centered.columns
    %a{:id => "switcher", :class => "button expand radius switcher"}
      Nope, I want 
      %span.sounds_list Soundcloud tracks
.row#sounds
  .small-7.small-centered.columns.noises.kalw
    %h2.sounds_title
      %a{:href => "http://www.kalw.org/people/audrey-dilling"} KALW Stories
    - stories.each_with_index do |entry, i|
      .story.panel
        %h3= entry.title
        - if entry.image
          %img{:src => entry.image, :alt => i+1}
        = entry.summary
        %a{:href => entry.url, :class => "button radius"} Get the whole story
  .small-7.small-centered.columns.noises.soundcloud.hide
    %h2.sounds_title
      %a{:href => "http://www.soundcloud.com/audiodrey"} Soundcloud Tracks
    - track_ids.each_with_index do |id, index|
      .track.panel
        %iframe{:id => ["track", index], :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/#{id}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true", :width=>"100%", :height=>"465", :scrolling=>"no", :frameborder=>"no"}


%script{:src => "js/sounds_page.js"}
